 body{
background-color:black;
 text-align: center;
 background-repeat: repeat;
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1{
    color:goldenrod;
    font-weight:lighter;
    font-size: 50px;
}
p{
    color:whitesmoke;
    font-size: medium;
    font-weight:bolder;
    font-size: 30px;
}
button{
    background-color: gold;
    align-content: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 1em;
    border: 50px;
    border-color: black;
}
#sg{
    color:green;
    font-size: larger;
    font-weight: bold;
}
#new{
color:green;
    font-size: larger;
    font-weight: bold;
    margin-top: 20px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
}

